page-listingsPage{
  .page-listings-content {
    background-color: #074868 !important;
    color: white;
    font-family: "Avenir Next";
  }
  .itemInfo {
    margin-left: 1%;
    display: inline-block;
    vertical-align:top;
    z-index: -1;
    .itemName {
      font-size: 1.3em;
    z-index: -1;
    }
    .itemDescription {
      width: 50%;
    z-index: -1;
    }
  }
  .itemPicture {
    width: 160px;
    height: 110px;
    z-index: -1;
  }
  .closeButton {
      position: relative;
    float: right;
    color: #ee4422;
    z-index: 9999;
    background-color: #074868 !important;
  }
}
