<ion-header>
  <ion-navbar color="menucolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Post an Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
       <label class="item item-input">

         Item:
         <span class="input-label"></span>
         <input type="text">
       </label>
       <form id = "Description">
         Description:
         <textarea name="Describte the item" type = "text" form="Description"></textarea>

       </form>


  </ion-list> -->
  <!-- <div class="list">
       <label class="item item-input">
         <input
           <input type="text" placeholder="Placeholder 1">
       </label>

       <label class="item item-input">
         <input type="text" placeholder="Placeholder 2">
       </label> -->
  <!-- </div> -->
    <ion-item>
      <ion-label color="white">Item</ion-label>
      <ion-input placeholder="Item Name" [(ngModel)]=userinput.Title></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="white">Description</ion-label>
      <ion-textarea placeholder="Enter a description" [(ngModel)]=userinput.Description></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="white"><h2 class="title">Pickup Location</h2></ion-label>
    </ion-item>
    <!-- <ion-item> -->
    <!--   <ion-label>Current Location</ion-label> -->
    <!--   <ion-radio value="Current" checked></ion-radio> -->
    <!-- </ion-item> -->
    <!-- <ion-item> -->
    <!--   <ion-label>Custom Location</ion-label> -->
    <!--   <ion-radio value="Custom"></ion-radio> -->
    <!-- </ion-item> -->
    <ion-item>
      <div #map id="map"></div>
    </ion-item>
    <ion-item>
      <ion-label color="white">Show Phone Number</ion-label>
      <ion-checkbox [(ngModel)]=userinput.ShowPhone></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label color="white">Show Email</ion-label>
      <ion-checkbox [(ngModel)]=userinput.ShowEmail></ion-checkbox>
    </ion-item>
    <ion-item class="addimage">
      <h2 class="title" color="white">Add Image</h2>
      <button color="menucolor" ion-button (click)="takePicture(1)">Take Photo</button>
      <button color="menucolor" ion-button (click)="takePicture(0)">Library</button>
    </ion-item>
    <ion-item [hidden]="base64Image==null">
      <h2 class="title" color="white">Image Preview</h2>
      <img [src]="base64Image" *ngIf="base64Image">
    </ion-item>

  <div text-center class="confirmbuttons">
    <button color="menucolor" ion-button (click)="alertData();">Cancel</button>
    <button color="menucolor" ion-button (click)="submitPost();">Post</button>
  </div>


  <!-- <div *ngIf="selectedItem" padding>
       You navigated here from <b>{{selectedItem.title}}</b>
       </div> -->
</ion-content>
