page-page2 {
  ion-header {
    background-color: #17A5A5;
  }
  .page1-content {
    text-align: center !important;
    background-color: #074868 !important;
    color: white;
    font-family: "Avenir Next";
  }
  #map {
    width: 100%;
    height: 300px;
    margin-top: 0;
  }
    ion-item {
      background-color: #074868 !important;
      font-family: "Avenir Next";
      ion-input {
        color: white;
      }
      ion-textarea {
        color: white;
      }

    }
  .addimage {
    text-align: center;
  }
  .confirmbuttons {
    background-color: #074868 !important;
  }
}
