page-page1 {
  ion-header {
    background-color: #17A5A5;
  }
  .page1-content {
    text-align: center !important;
    background-color: #074868 !important;
    color: white;
    font-family: "Avenir Next";
    .welcometext {
      margin-top: 5%;
      font-size: 2em;
      font-weight: 400;
    }
    ion-item {
      background-color: #074868;
      color: white;
      width: 96%;
      .switchIcons {
        display:inline-block;
      }
      .switchText {
        margin-left: 2%;
        display:inline-block;
        width: 50%;
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
      }
    }

  }
}
