page-page1 {
  text-align:center !important;
  background-color: #074868;
  color: white;
  font-family: "Avenir Next";
  ion-content {
        margin: auto;
        text-align: center;
    }
    /*
    ion-icon {
        color: white;
    }
    */
}
