page-registerPage {
  .register-page-content {
    text-align: center !important;
    background-color: #074868 !important;
    color: white;
    font-family: "Avenir Next";
    #map {
      width: 100%;
      height: 300px;
    }
  }
  .confirmbuttons {
    background-color: #17A5A5 !important;
  }
}
